[2015-12-19 11:19] e-cloud opened #2 "equation of margin?"
@web-tiki , would you mind showing the **equation of margin** as below?

[code]

[2015-12-19 11:21] e-cloud commented on #2
and i find that the sloping gaps are wider than the horizontal gaps

[2015-12-19 11:42] web-tiki commented on #2
@e-cloud I'm going to tweak those margins and make some decent doc on this repo this afternoon.

[2015-12-19 14:43] web-tiki opened #4 "Improve hover effect transition"
On hexagon hover, transition transforms rather top/botom

[2015-12-19 16:15] poi33 opened #5 "Small jitter in on grid hover"
# small movment on grid-item hover

There is a small movment on the image when hovering a grid item.

![grid_move](https://cloud.githubusercontent.com/assets/3340349/11913934/6b7d50a6-a674-11e5-85d8-d14b35389f3b.gif)

Above preview browser: Firefox 43.
Not present in Chrome 47.
Edge: (surprisingly) not in Edge 20.

[2015-12-19 16:19] web-tiki opened #6 "Hexagon overflow"
When hexagons become small, the text content overflows.

[2015-12-19 17:22] web-tiki commented on #2
@e-cloud I added an explanation of the vertical spacing calculation + fixed the verticval spacing visual issue

[2015-12-20 03:04] e-cloud commented on #2
i think the margin equation is a bit strange

[code]

i can't find any angle involved with **45deg**

IMHO, my equation is below

[code]

because in the center of three hexgon,
![qq 20151220104831](https://cloud.githubusercontent.com/assets/5255354/11916249/54c3ee52-a709-11e5-8545-2aa80ca0121a.png)

there is a regular triangle,  the length of its edge is quite the space between hexgon

[2015-12-20 11:22] web-tiki commented on #2
@e-cloud good point I got muddled up with that angle. It is 60 deg.

I'm reopening the issue and will make the changes.

[2015-12-20 11:53] web-tiki commented on #2
@e-cloud in fact it isn't sin(60deg) it is cos(30deg) see the following :

![hex spacing](https://cloud.githubusercontent.com/assets/8065876/11917812/d5f924f2-a717-11e5-9f98-f7c3496640ce.png)

x is the vertical spacing we are looking for and s is the spacing we want. the angle between both is 30deg so
[code]
so
[code]

the equation to calculate the vertical margin is

[code]

[2015-12-20 13:17] #2 closed, assigned to nobody

[2015-12-20 13:32] web-tiki commented on #2
Done, @e-cloud  thx for reporting and helping get this fixed.

[2015-12-20 15:04] e-cloud commented on #2
in fact, i want to thank you as your wonderful work inspires what i'm working on :smile:

[2015-12-20 15:23] web-tiki commented on #2
@e-cloud nice :)
what are you working on? I would love to see.

[2015-12-21 17:28] #4 closed, assigned to nobody

[2015-12-21 17:28] web-tiki commented on #5
@poi33 Can you retest on demo page please. It should be solved with latest merge.

[2015-12-21 17:29] #6 closed, assigned to nobody

[2015-12-21 18:18] poi33 commented on #5
No more image jitter on firefox

[2015-12-21 18:18] #5 closed, assigned to nobody

[2016-02-11 21:50] tnschmidt opened #8 "Blurry Images"
The images are slightly blurry. Really shows up if images have small text in them. Is this a necessary evil of using CSS3 tranforms with scew/rotate?

[2016-02-12 01:22] syntacticsugar commented on #8
Yes, I noticed this too (text in the hexagons), and after doing some googling online, saw that CSS transformations are the culprit.  There are various solutions to address this, but I don't know enough about debugging CSS transformations to pinpoint which of the suggestions will solve the blurriness, if any will at all.

seems like adding any of :
`-webkit-font-smoothing: antialiased;` or
`transla

[2016-02-12 07:06] web-tiki commented on #8
@tnschmidt the burry images are caused by the 3d transform applied to them (`transform:translatez(-1px);`).
That transform was added because in some cases, there is was small jitter on the image at the beginning and end of hover transition (in chrome).
I retested without the transform but I can't reproduce that jitter anymore. I'll test some more before applying the change to the repo.

In any cas

[2016-02-12 08:05] web-tiki commented on #8
@tnschmidt the blurry images are caused by the 3d transform applied to them (transform:translatez(-1px);).
That transform was added because in some cases, there was a small jitter on the image at the beginning and end of hover transition (in chrome).
I retested without the transform and that jitter doesn't happen anymore so I removed the transform on the images.

@syntacticsugar The blurry text de

[2016-02-14 03:01] syntacticsugar commented on #8
@web-tiki Ah, I figured you had already thought all of these issues out in advance.  Thank you very much for the followup.

My CSS knowledge is nowhere near as proficient as yours, as it appears like you wield CSS as fluidly I wield breaths of air, so I take what you say with a lot of respect.

[2016-02-18 18:50] tnschmidt commented on #8
Thanks, I appreciate the help guys. Not sure what version of the hexagons I was using, because this rule is not currently in your repository, but the blur disappeared when I took off the `backface-visibility:hidden` CSS rule on the anchor tag inside the hexagon. However, by doing this there is a slight jagged edge in Chrome now on the hexagon itself.

[2016-02-19 09:09] web-tiki commented on #8
@tnschmidt The backface-visibility rule was removed on commit ddc43243e07a701ce811c136921d7060ec57e062

For the jagged edges, you will see that the demo doesn't have them. They are removed with the 3d transform (`translatez(-1px)`) on the `.hex` elements.

[2016-02-27 13:15] web-tiki commented on #8
Since there is no update and that the issue has been discussed, I am closing it

[2016-02-27 13:15] #8 closed, assigned to nobody

[2016-05-25 12:03] ghost opened #9 "Rotate"
Hello, I'm trying to rotate them 30 degrees so they have a straight top (as per our design instructions).

However, this causes an issue like this:

![hexrotate](https://cloud.githubusercontent.com/assets/6955419/15539185/f473f11e-2278-11e6-85b9-ced9d87714cb.PNG)

What I've done there is update these rotate values:

[code]

Note the overlapping, bad alignment and the skewed content.

Can you point

[2016-05-26 18:32] poi33 commented on #9
The main page does offer some pointer to how you can adjust the hex grid:
[Sizing](https://github.com/web-tiki/responsive-grid-of-hexagons#spacing-and-sizing-calculations)
[Spacing](https://github.com/web-tiki/responsive-grid-of-hexagons#spacing)

When rotating the size is changed so you would have to recalculate;
width, height, margin and padding.

The sizing of the hexagons is done in the media

[2016-05-26 18:32] #9 closed, assigned to nobody

[2016-06-23 14:01] 1hqdigital opened #10 "Hover states activate/conflict in IE over the full shape"
The issue occurs in IE when you hover over the entire #categories li shape, including the hidden end parts. This causes issues when hovering over one hexagon to the next.

I resolved this on another pen where the hexagon was made from rectangles by reducing the rectangle height. This pen looks better but the shape doesn't look as easy to tweak for this.

No issues in Chrome/FF.

[2016-06-24 13:13] web-tiki commented on #10
Thx for reporting.
Can you specify what version of IE the issue appears in?

[2016-06-24 13:16] 1hqdigital commented on #10
It's all versions that I tested (using BrowserStack and also using remote.ie). I originally assumed it was on old IE issue but it seems to be an IE issue not respecting the shape visibility.

[2016-06-24 13:21] web-tiki commented on #10
It seems like IE lets the link overflow the parent `li` even with the `overflow:hidden;` property. I'll have to look into it more seriously to find a workaround.

[2016-06-24 13:24] 1hqdigital commented on #10
Please let me know if you do. Thanks

[2016-06-24 13:25] web-tiki commented on #10
I won't have enough time before next week but I'll let you know.

[2016-06-24 13:26] 1hqdigital commented on #10
No rush :)

[2016-06-29 09:50] web-tiki commented on #10
I have taken a closer look at the issue. It appears that it is an IE bug. It is dicussed here: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5112505/

One workaround would be to make the `a` element smaller so it doesn't overflow but the hitbox would also be smaller. This would affect all browsers so I prefer not to do it. I hope it will be fixed soon in edge at least.

[2016-06-29 10:04] 1hqdigital commented on #10
No problem, thanks for investigating.

[2016-06-29 10:04] #10 closed, assigned to nobody

[2016-11-18 14:15] SvenLauterbach opened #12 "Height of Hexagon"
Hi,
in the customization section in the readme their is a formula for setting the vertical space. In this formula you have to use the height of the hexagon:

Where do i find the height of the hexagon? In the css there is only a selector for the a tag inside the hexagon with height: 100%

Did you use scss or sass to generate the css file? If yes, it would be great if you could share those files too

[2016-11-18 14:22] SvenLauterbach commented on #12
Sorry, didn't saw the "height of hexagon" section

[2016-11-18 14:22] #12 closed, assigned to nobody

[2016-11-18 14:38] SvenLauterbach commented on #12
Anyway, The Sass/Scss files would be cool....

[2016-11-18 16:17] poi33 commented on #12
There are no Sass/Scss files to my knowledge. When i contribute to repository i always edit the css files directly.

[2016-11-18 16:24] web-tiki commented on #12
There is no Sass/Scss files.

[2016-11-19 21:16] crapoio opened #13 "On android phone externals hexagons not clickables"
Hello,

On my Android mobile, with hexagons displaying in lines 2+1+2+1
I can only click the hexagon alone on his line.
The ones who are 2 per line can't be clicked.

Could You check that please ?

Thank You

OIO

![hex](https://cloud.githubusercontent.com/assets/23585731/20458445/bb9cfb4c-aea5-11e6-9d84-c48c2bf574b7.PNG)

[2016-11-21 09:17] web-tiki commented on #13
Hi @crapoio, thx for reporting, I managed to reproduce your issue on android browser. I wont have time to look into it right now though.

[2016-11-26 20:14] crapoio commented on #13
Hello Web-tiki,   thank You for your answer. Ok but do You think You'll work on solving this issue ? Sooner or later ? (Hopefully sooner than later.) Thank You. Best Regards.  Crapoio

[2017-01-24 09:59] AliDarrudi67 opened #14 "hexagon size"
hi
i want to resize the hexagon to smaller shapes and add number of hexa per row.
how to do this?
thanks.

[2017-01-24 13:06] web-tiki commented on #14
@ingenuous67 What you want to do can be done by changing the values explained in the "spacing" section (https://github.com/web-tiki/responsive-grid-of-hexagons#spacing ). As your aim is to modify the existing grid, this is not an issue so I am closing it.

[2017-01-24 13:06] #14 closed, assigned to nobody

[2017-01-24 16:36] AliDarrudi67 commented on #14
there is no js file!!!

[2017-01-24 17:17] web-tiki commented on #14
@ingenuous67  no ther is no JS file because there is no need for one...

[2017-01-25 10:03] AliDarrudi67 commented on #14
what is m and w in spacing section of document!!!

[2017-01-25 10:14] web-tiki commented on #14
@ingenuous67 m and w are explained in the spacing section of the document.

[2017-01-25 17:28] web-tiki commented on #13
@crapoio I have been working on this repo and changed the approach for the hexagon layout.
I haven't merged them into the master branch yet but they are merged in the demo branch. Can you check the demo here http://web-tiki.github.io/responsive-grid-of-hexagons/ and tell me if the issue is still occuring for you please.

Hopefully it has been solved with the latest modifications

[2017-02-06 12:54] web-tiki commented on #13
@crapoio This browser is now replaced for new devices by chrome for android. It's usage according to [canIuse ](http://caniuse.com/) is very low so I am closing this as issue.

[2017-02-06 12:54] #13 closed, assigned to nobody

[2017-02-06 17:46] crapoio commented on #13
@web-tiki . Sorry for my late reply.  I checked yesterday and it now work on Android. Thanks a lot.

[2017-02-07 08:38] web-tiki commented on #13
@controversial great! Thx for the feedback :)

[2017-02-07 13:48] controversial commented on #13
@web-tiki Did you mean to mention me, or @crapoio ?

[2017-02-07 15:00] web-tiki commented on #13
@controversial sorry, that was my mistake, I wanted to mention @crapoio

[2017-02-07 15:01] controversial commented on #13
Ah, ok

On Tue, Feb 7, 2017 at 10:00 AM web-tiki <notifications@github.com> wrote:

[2017-02-15 12:52] AliDarrudi67 opened #16 "border"
hi
thanks a lot for this plugin.
i have a question???
can i set a border for hexa shapes?
a think like :
http://jamepush.ir/views/site/e.jpg
set a border and remove spaces.

[2017-02-15 15:47] web-tiki commented on #16
hi @ingenuous67
I can't access your link

[2017-02-15 17:12] AliDarrudi67 commented on #16
check this:
http://hoshmandeng.com/e.jpg

[2017-02-15 17:33] web-tiki commented on #16
@ingenuous67 ok, I see. This is possible but pretty hard as the hexagon grid (HTML/CSS) wasn't designed for borders.
I am going to close this as it is not an issue with the code but an alteration of the design.

[2017-02-15 17:33] #16 closed, assigned to nobody

[2017-02-15 18:34] AliDarrudi67 commented on #16
i have another question
on mouse hover i want to view an information on hexagon.
see this link:
http://hoshmandeng.com/e2.jpg
how to do this?

[2017-04-01 17:53] chadpry opened #17 "Grid not displaying on Chrome Mac 56.0.2924.87 (64-bit)"
Here is a screenshot.

I'm on a MAC OS 10.11.6

![screen shot 2017-04-01 at 1 52 28 pm](https://cloud.githubusercontent.com/assets/194748/24581090/91dd2d4a-16e2-11e7-9151-b1e3271b6eff.png)

[2017-04-03 11:19] web-tiki commented on #17
Hi @chadpry what browser are you using?
I have no acces to a MAC so if you could inspect it it would be great.

[2017-04-03 11:29] web-tiki commented on #17
Hi @chadpry I tested this on crossbrowsertesting.com and I can't reproduce this issue, it works fine. What version of chrome are you using?

If you could inpect the code (maybe the images didn't load for you), it would be great.
Thx for reporting

[2017-04-11 21:52] Jwbeev opened #18 "How to make hexagons flat-topped"
Hi,

This is a very cool bit of code here. But I am wondering how to make the calculations work so that the hexagons are actually flat-topped (horizontal) rather than pointed upward (vertical). I can't seem to adjust the rotations in a way to make this work.

Rotating the .hex div will change the hexagon's orientation, but getting everything inside the .hexLink div to look right is the tricky part

[2017-04-26 09:20] web-tiki commented on #18
Hi,

This is the same issue as https://github.com/web-tiki/responsive-grid-of-hexagons/issues/9 .
Unfortunatly, it will need to rebuild the grid as the hexagon positioning and creation changes drasticaly. You can check this stackoverflow question though http://stackoverflow.com/questions/10062887/generate-repeating-hexagonal-pattern-with-css3 .
I will close this issue as it isn't an issue related

[2017-04-26 09:20] #18 closed, assigned to nobody

[2017-04-26 09:21] web-tiki commented on #17
As there is no feedback for this issue and I have not been able to reproduce it using the information given, I will close this issue.

[2017-04-26 09:21] #17 closed, assigned to nobody

[2017-05-28 17:51] xrobachok opened #19 "Hexagon area question or so...?"
[code]
Just add this code and see what happened (some time you can see red color). It seems like hexagons not "pixel perfect".

[2017-05-29 09:08] web-tiki commented on #19
Hi.
Can you please add a screenshot of the issue and specify what browser you are using.
Regards,
web-tiki

[2017-05-29 10:36] xrobachok commented on #19
http://i.imgur.com/683D18t.png now you see red color in hexagons?
Chrome 58 (latest stable release), Windows 10.

[2017-05-29 10:38] web-tiki commented on #19
Thx for the info, I'll look into this

[2017-05-29 11:23] web-tiki commented on #19
@xrobachok This is a rendering bug, the overflow on the `.hexLink` element isn't working. I have not found a workaround for it yet.

[2017-05-30 07:06] redrobotdev opened #20 "Less hexagons on odd rows"
Is it possible to flip the grid row count so the odd rows have one fewer hexagons than the even rows?

[2017-05-30 08:57] web-tiki commented on #20
Hi @ababakanian to change this, you just need to change the CSS for sizing to
[code]

[2017-05-31 06:15] #20 closed, assigned to nobody

[2017-06-01 10:01] #19 closed, assigned to nobody

[2017-06-04 11:08] redrobotdev commented on #20
thank you very much, that worked

[2017-08-07 15:03] SimpleCookie opened #22 "Hover effect broken"
This issue may not occur to all of you. It happens to me because of my particular case, I modified the breakpoints a bit to suit my case better. But now the problem is; the hover effect does not work in the mobile version (and other device sizes).

You can find the issue on [devgroup.se](devgroup.se)
I'm not sure if it is something you want to work on? I plan to look into it myself when I have tim

[2017-08-08 07:20] web-tiki commented on #22
The issue is not related to the grid of hexagons.
There is an element over the hexagons (second div in your nav) that prevents the hover effect (and any other interactions) on the grid.
See the following image:

![issue](https://user-images.githubusercontent.com/8065876/29060729-4e5bea2c-7c1b-11e7-8993-9a892a7cecf6.png)

[2017-08-08 07:20] #22 closed, assigned to nobody

[2017-08-09 14:44] MinThaMie opened #23 "[Question] Using the hexagrid in a div"
I'm using your grid as follows:

`<div id="honeycomb"><ul id="hexGrid"></ul></div>`

and then dynamically append the list items with jquery like this: `$("#hexGrid").append('<li class="hex"><a class="hexIn" href="#"><img src=' + data[i].photo + ' alt="" />' +
                              '<h1>' + data[i].employee_id + '</h1><p></p></a></li>');`

And even though the parent div is larger the hexGri

[2017-08-09 15:47] poi33 commented on #23
I created this example: https://jsfiddle.net/w1o7kzow/2/
And there does not seem to be anything wrong with the code.
Maybe there is some css that affects the "honeycomb" id?

[2017-08-10 07:54] web-tiki commented on #23
@MinThaMie the behaviour you see is the normal behaviour. If you stretch width of the result window in the codepen, you will see that the grid adjusts to 2-3 hexagons per row. As you only have 4, and the fifth one is missing, it looks like the grid isn't centered.

I suppose (you haven't explained what you want) that you want the grid to always display 1-2 hexagons per row. For this, you just need

[2017-08-10 07:56] MinThaMie commented on #23
Thanks for the answers, for some reason the extra div broke the height of the `<ul>`. Thanks for the quick response :) I love this repo!

[2017-08-10 07:58] web-tiki commented on #23
On a side note, you should use the CSS from the repo rather than the one on Codepen as it isn't maintained there.

[2017-08-10 09:32] MinThaMie commented on #23
The repo CSS results in this:
![screen shot 2017-08-10 at 11 31 16](https://user-images.githubusercontent.com/5811560/29164386-830aaab0-7dbf-11e7-9d5e-a3f8d4450b32.png)

In safari and firefox

[2017-08-10 10:12] poi33 commented on #23
@web-tiki did we ever test the grid in safari?
Are there some -prefixes we are missing?

[2017-08-11 16:27] SimpleCookie commented on #22
Yes you are correct! Thank you and my apologies for blaming this wonderful grid system! <3

[2017-08-14 11:56] web-tiki commented on #23
@poi33 the grid has been successfully tested on safari and firefox and no prefixes are missing.
@MinThaMie have you tested the repo demo [here](http://web-tiki.github.io/responsive-grid-of-hexagons/)? And what versions on firefox and safari have you seen that result on?

[2017-08-15 13:56] MinThaMie commented on #23
I'm really sorry. I managed to forget one crucial class :(

[2017-08-15 19:22] web-tiki commented on #23
No problem.

[2017-08-15 19:22] #23 closed, assigned to nobody

[2017-10-17 12:55] ghost opened #24 "Hover effect won't close"
I have a problem with the hover of the tiles as seen on the picture.

What can I do about it?

![test](https://user-images.githubusercontent.com/32872348/31666047-29691ad4-b34b-11e7-8946-c688a234d540.png)

[2017-10-17 13:18] #24 closed, assigned to nobody

[2017-11-17 13:52] AliObaji opened #25 "border instead of background color ?"
Hello, Im working on a layout and I was wondering if it is possible to give the hexagons just a border, with no background color. Thanks!

[2017-11-20 16:10] web-tiki commented on #25
Hello @AliObaji ,
Sorry for the late reply. The hex grid isn't designed to give a border to the hexagons. But you may use an inline svg to make the border.

See the following code for an example :
[code]

[2017-11-22 17:46] web-tiki commented on #25
@AliObaji as this is not an issue with the hexagon grid, I am closing the issue.

[2017-11-22 17:46] #25 closed, assigned to nobody

[2018-03-13 22:00] oyeanuj opened #26 "Fixed height and width hexagons"
Hi folks! Firstly, thank you for open sourcing this - it is super helpful. There aren't too many resources combining hexagon and images.

Just one question - for my usecase, I was using your technique of displaying the image in a hexagon without the grid feature. I needed to specify a fixed width and height for the image. So, for my example I specifed the width and height both as `.hex` as 128px.

[2018-03-15 06:37] web-tiki commented on #26
Hi @oyeanuj I don't think I understand your issue correctly.
The .`hex`  element shouldn't be given a height. The height is given by the `:after` pseudo element and `padding-bottom`.
Can you elaborate on your issue please. A live example would also be great.

[2018-03-19 09:26] web-tiki commented on #26
Hello again @oyeanuj have you managed to find a solution to your issue? If not, I'd be glad to help you but as stated in my last comment, I need more info.

[2018-03-22 06:41] web-tiki commented on #26
Because of the lack of information and feedback, I am closing this issue. Feel free to reopen it if you have more info about your issue.

[2018-03-22 06:41] #26 closed, assigned to nobody

[2018-03-26 04:35] oyeanuj commented on #26
@web-tiki Thank you for the response and sorry for the delay, I missed the Github notifications somehow. Here is an example of that - https://codesandbox.io/s/4qn3mpn914

I do have the `:after` pseudo-element as well as the padding-bottom but the image either gets skewed or goes past the parent's height.

Thoughts?

[2018-03-26 07:19] web-tiki commented on #26
@oyeanuj this sin't an issue with the code from this repo. You have added some CSS (max-width and max-height) on the image. Remove those and your image will keep it's aspect ratio.

[2018-05-23 21:28] noeldevelops commented on #24
any solution to this?? I'm having the same issue...

[2018-05-24 01:13] poi33 commented on #24
@noeldevelops in what web browser is this happening? Is there any zoom on the page?

[2018-05-24 14:30] noeldevelops commented on #24
@poi33 I tested in Chrome, Safari, and Firefox - no zoom.
<img width="1067" alt="screen shot 2018-05-24 at 8 26 02 am" src="https://user-images.githubusercontent.com/20971470/40491944-a3c63630-5f2c-11e8-9522-ef1fd28791ac.png">

[2018-05-24 15:03] poi33 commented on #24
Where are you getting the black squares from?
The default colour should be rgba(0, 128, 128, 0.8); or #008080.
Did you change anything of the values in the css stylesheet? (hexagons.css)
If you have your own css rules overriding some of stylesheet rules it would explain the gap.
I could not recreate this in Chrome or Firefox.

[2018-05-24 16:42] noeldevelops commented on #24
Thanks for trying to help!

I changed the background color of `.hex h1, .hex p` in the stylesheet to make it black. I also deleted the first css rule:
```* {margin: 0; padding: 0;}```

Adding it back with dev tools doesn't seem to fix the problem, but it's a good starting point to think about, so thanks for that reminder...

I've also changed the html a bit to make it work in Wordpress, but nothin

[2018-05-24 16:48] poi33 commented on #24
its probably the removing of  * { margin: 0; padding: 0; } that makes it break.
Since a h1 tag is default getting 1em of margin below and above. Trying removing margin and padding on .hex h1 and .hex p.

[2018-05-24 16:51] noeldevelops commented on #24
You're exactly right!
I had a default margin adding 10px below all `<h1>` tags... I put `margin-bottom: 0;` on the `.hex h1` and it fixed it.
Thanks again for helping me figure that out

[2018-05-28 09:13] ghost opened #27 "Blurry Text on hover"
There is a blurry text on hover appears on chrome. Can this be fixed ?

[2018-05-28 10:12] poi33 commented on #27
@web-tiki did we have this issue before?

[2018-05-28 10:35] ghost commented on #27
You can compare the behavior on chrome and on firefox.
The problem is the skewed element on chrome makes the text on it blurry and the image also.
I don't know how to fix that.

[2018-05-28 11:07] web-tiki commented on #27
Hello @muhammedmagdi  @poi33 ,
This issue has been around for a long time. Chrome renders text blurry when it is transformed and "untransformed".
I just made a new test and it seems the text is not blurry anymore when 2d transforms are used (see here https://jsfiddle.net/webtiki/26qz5shr/).

We could remove the 3d transforms and only use 2d transforms instead for the titles and text hover effect.

[2018-05-28 11:16] ghost commented on #27
Hello @web-tiki
Thanks for your response,
I have tried so many solutions and I have already made 2d transform instead of 3d but the problem is still existent. The problem with the skewed elements ..  Chrome makes text blurry on any skewed element whatever this text has transformed with  2d transform or 3d .. I even tried to remove all transforms and make only text opacity change on hover but it do

[2018-05-28 11:19] ghost commented on #27
Also on firefox the text keeps blurry for a while and then becomes clear.

[2018-05-28 11:42] web-tiki commented on #27
@muhammedmagdi then there is no way to solve this issue yet...

[2018-05-28 15:50] poi33 commented on #27
I'll tag this as a bug web-tiki since its unwanted behavior but there is currently not a lot we can do about it.

[2018-05-29 07:55] ghost commented on #27
@poi33  @web-tiki
To solve this issue, I just suggest using clip-path instead of skew and rotate3d like the following example :
https://codepen.io/tstoik/pen/qZEZJp
The only problem is at that example is that it isn't fully responsive. I didn't test it on all browsers.

[2018-05-29 08:22] web-tiki commented on #27
@muhammedmagdi that is clearly the way to go in the futur but for now, I don't want to use it as it isn't supported by Edge/IE. See [canIuse](https://caniuse.com/#feat=css-clip-path)

[2018-05-29 11:18] ghost commented on #27
@web-tiki  Yes, I was going to say that I just tested on IE but it doesn't work unfortunately. But I found you have already mentioned that.
But you can notice this sentence :
 Support for clip-path in SVG is supported in all browsers with basic SVG support.
Can we do it as SVG ?

[2018-05-29 11:22] web-tiki commented on #27
To make the hexagons, it would be a good alternative but the hover effect would be pretty hard to make and buggy because of the transitions. It would require JS to make it consistent.

With other hover effect, it could be achived though (example [here](https://stackoverflow.com/a/31284251/1811992))

[2018-09-27 23:03] efitgo opened #28 "How to Replace images? <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />"
When I attempt to replace images in hexagon (in responsive grid code) with images from my local file directory, the hexagon no longer will display in browser. What can I do to overcome this issue?
Thank you
GFiggins

[2018-10-01 11:31] web-tiki commented on #28
Hello @efitgo,
Can you share your code and the image you are trying to use please?

[2018-10-01 21:50] efitgo commented on #28
Hi web-tiki,

I greatly appreciate your response and help with the code -

   1. Is there a way to use locally stored images in hexagon grid and
   opposed to using images stored with online providers like
   shutterstock/flickr?  I have several clinical education type images I plan
   to develop that are not found in shutter/flickr and will need to update
   these continuously as subjects evolve.

[2018-10-01 22:24] poi33 commented on #28
@web-tiki https://jsfiddle.net/9ewo4L2x/ tried to copy the code to a fiddle.

[2018-10-01 22:34] efitgo commented on #28
this is what I see in browser:
[image: image.png]

Would you have any code suggestion to replace images with those store
locally in my directory? and add links to hexagon subjects?

I am able to move the hexagons on page but adding image/links seem to not
work?
thank you.

On Mon, Oct 1, 2018 at 6:24 PM Persijn kwekkeboom <notifications@github.com>
wrote:

[2018-10-02 08:53] web-tiki commented on #28
@efitgo the image url (https://cdn.stocksnap.io/img-thumbs/960w/3ULPMX0SPES.jpg) you used in the first hexagon doesn't exist (at least, I can't access it with the url you provide) so it isn't displayed. That is why the hexagon disapears.
On a side note, there is a white-psace before the url in the `src` attribute. That might be a typo.

Adding local images is possible and works the same.

For the

[2018-10-02 21:42] efitgo commented on #28
Thank you so very much my friend!  Did the adjustments and working well now!
Best regards,

On Tue, Oct 2, 2018 at 4:53 AM web-tiki <notifications@github.com> wrote:

[2018-10-03 16:05] #28 closed, assigned to nobody

[2018-10-18 17:45] efitgo opened #29 "Responsive grid of hexagons not working with Cold fusion header/footer on site"
I have adjusted hexagon code to fit desired design for my project and migrated the hexagon html/css into my project website code that is using Cold Fusion/bootstrap. When I test hexagon in project website, I see that hexagon hover "shutter" will not completely close and font color on hover "shutter" has changed to grayish color.  It appears there is conflict between website css and hexagon css? Wh

[2018-10-18 18:05] efitgo commented on #29
When <cfinclude template="/head.cfm"> is added

[2018-10-19 08:49] poi33 commented on #29
@efitgo Try inspecting html elemts that have the issue, if there are some classes that change the default appearance size etc.
@web-tiki do we have any insentiv to make it bootstrap compatible? Maybe a branch?

[2018-10-19 11:38] web-tiki commented on #29
@efitgo This doesn't seem like an issue related to the hexagon grid but rather a CSS conflict. I am closing the issue for this reason. Try inspecting your elements as @poi33 suggested. If you have a live version of your code I can check, please share a link here and please sepcify what browser you are using.

@poi33 There is no bootsrtap compatible version of the grid and I am not planning on maki

[2018-10-19 11:38] #29 closed, assigned to nobody

[2018-10-19 13:28] efitgo commented on #29
Does not appear to be html issue because hexagon html/css code are fully
functional when loaded independent of project website.  The hexagon css
does not appear to work well with project website css  which includes use
of cold fusion/bootstrap.

On Fri, Oct 19, 2018 at 4:49 AM Persijn kwekkeboom <notifications@github.com>
wrote:

[2018-10-19 13:31] efitgo commented on #29
I have beginner experience working with bootstrap but will investigate.
What would you suggest as first step to make hexagon bootstrap compatible?

On Fri, Oct 19, 2018 at 4:49 AM Persijn kwekkeboom <notifications@github.com>
wrote:

[2018-10-19 13:36] web-tiki commented on #29
@efitgo The hexagon grid should work in a bootstrap environment. Maybe there are a few bugs to fix caused by possible CSS conflicts.

What I mean by making the hexagon grid compatible with bootstrap would be to use bootstrap classes when possible and possibly replace some of the hexagon grid CSS by the bootstrap CSS. I am not very familiar with bootstraps so I don't know exactly what needs to be d

[2018-10-19 13:58] efitgo commented on #29
When I remove the following cold fusion tag from the html, then the hexagon
fully functions:  <cfinclude template="/head.cfm">
but removing this tag removes the header/footer style format from project
webpage.

On Fri, Oct 19, 2018 at 9:36 AM web-tiki <notifications@github.com> wrote:

[2018-10-29 14:05] ghost opened #30 "Border and/or Shadow"
I have tried adding a box-shadow / border to the hexagons and understand this is probably not the simplest task to achieve. Any chance you can figure out how to do this or edit the documentation?

[2018-10-30 09:29] web-tiki commented on #30
Hello @jayhybrid this has already been discussed in issue #25  and issue #16
It is not the easiest thing to do but it is achievable. Issue #25 describes an approach to achieve a border on the hexagons.

I am closing this issue as it isn't an issue with the grid but rather an alternate layout.

[2018-10-30 09:29] #30 closed, assigned to nobody

[2018-10-30 14:39] ghost commented on #30
Thank you for your reply. Since this topic is very important to me and this repository seems to be the only good hexagon grid available, please consider adding this to your documentation:

filter: drop-shadow(0 0 0.2vw #555555);

This allowed me to simply add a shadow. I understand this may not be best practise and only works in modern browsers but for me it worked, and thats all that counts to me

[2018-10-30 15:29] web-tiki commented on #30
@jayhybrid thank you for the info and happy you found a solution to your issue.

[2019-05-10 13:12] ghost opened #31 "Using Grid instead of Flex"
I've started getting into Flexbox and most recently also into Grid and was wondering if using Grid would be better suited for this project? Could it eliminate the use of media queries? Making the manipulation (adding/removing/resizing/etc) of hexagons easier? Is there a specific reason flexbox was used here?

[2019-05-14 07:32] web-tiki commented on #31
Sorry for my late comment but there is a branch in the project that uses css-grid :
https://github.com/web-tiki/responsive-grid-of-hexagons/tree/css-grid

[2019-05-21 07:24] web-tiki commented on #31
I am closing this issue because of lack of activity

[2019-05-21 07:24] #31 closed, assigned to nobody

[2019-06-11 11:56] daslicht commented on #27
that looks even better !

[2019-06-11 12:39] web-tiki commented on #27
@daslicht If the low browser support of clip-path isn't an issue for you then you definetly should go down that route ;)
See caniuse  for clip-path browser support table : https://caniuse.com/#feat=css-clip-path

[2019-07-23 15:01] skristyn opened #32 "Show h1 underneath image"
Hi - thank you so much for posting this!  I'm trying to customize it, and I'd like the h1 to always display below each hexagon, rather than sliding up in the middle on hover.
I have it placed where I want and removed the animation, but because of the `overflow: hidden` property of the elements that contain it, the text is entirely invisible when moved outside the hexagon. Is there a way you'd reco

[2019-07-23 20:14] skristyn commented on #32
Placed the header inside .hex but outside of .hexIn
then floated the header and used absolute positioning

[2019-07-23 20:14] #32 closed, assigned to nobody

[2019-07-31 12:18] web-tiki commented on #32
@skristyn great if you managed to find a solution to your issue :)

[2020-08-10 16:40] costincca opened #35 "The "curtains" of the hexagons do not always close perfectly"
Hi,

I encountered an issue from the very beginning. Depending on the size of hexagons, the top and bottom curtains that close in the middle do NOT close perfectly.

Now, there is a gap.
![image](https://user-images.githubusercontent.com/60868050/89807151-d8ce2580-db40-11ea-84b9-ff6f2cbd0ad9.png)

But at some widths, they can also overlap.
![image](https://user-images.githubusercontent.com/6086805

[2020-08-11 07:24] poi33 commented on #35
@web-tiki i remember this happening before some times. Its a floating point rounding issue with some sizes.
@costincca if i remember correctly this happend in only specific browsers, and it is a single pixel. You can try to tweak the math with higher precision, or you can try to blur the curtain element to make the 1 pixel difference less visible.
I would also advice to have a little room for erro

[2020-08-11 08:29] costincca commented on #35
Hi @poi33 I do not understand yet how the curtains are calculated. I need to use a Dev Web Tools from Chrome or Mozilla to check the elements. I started to explore the possibility to freeze the hexagons at a certain size (where the curtains look well) and change only their number per line.
Or calculate the top curtain as 50% and the bottom curtain at "bottom - size of the top one", thus having jus

[2020-09-10 07:58] ghost opened #36 "Is this repo still maintained?"
I've been working a lot with CSS grid and I'm considering to make some contributions in the future to make the code more flexible when changes are needed and relying more an stuff like `calc()` which might help resolve issues like #35 and custom css properties

[2020-09-10 11:17] poi33 commented on #36
We don't have any contribution guidlines or simular, but if you manage to make the code easier to read or improve it we would love a contribution. If you mange to solve #35 that would be a good contribution to the project.
If you question is if this is still maintained? Well i still look at all issues reported, @web-tiki you still active on github?

[2020-09-10 11:20] poi33 commented on #27
@web-tiki we might want to use clip-path now? Or want to wait for EI11 to be unsupported?

[2020-09-10 11:28] poi33 commented on #36
Was just reading up on calc and it seems its poorly supported in IE11. We might not want to support that anymore since its becoming an older browser, but what browser support we are going for is up to the owner of the repo.

[2020-09-10 11:29] ghost commented on #36
~~Well as far as I know Flexbox is not supported in IE11 either so it's already not supported as far as I'm concerned.~~

I just did some checking and apparantly it is via a vendor prefix: https://caniuse.com/?search=display%3A%20flex and by enabling `layout.css.flexbox.enabled`. Which basically means it's only working for devs and not for end users.

[2020-09-10 11:36] web-tiki commented on #36
Just to make sure you saw, there already is a branch using css grid here : https://github.com/web-tiki/responsive-grid-of-hexagons/tree/css-grid
I would like to keep the flexbox and css-grid versions in this repo for now.
If you have some improvements to make on the css-grid version, you are more than welcome to do so and make a PR.

`calc()` has better browser support than css-grid so using it fo

[2020-09-11 16:17] web-tiki commented on #36
@jayhybrid I will now close this tickety as it doesn't address a specific issue.
Feel free to open another one if you find a specific issue.

[2020-09-11 16:17] #36 closed, assigned to nobody

[2020-11-26 13:04] poi33 commented on #35
@web-tiki is there some calculation we can increase the precision on to avoid this?

[2020-11-27 10:54] web-tiki commented on #27
@poi33 Clip-path support has become much better but I don't think it is a good idea to use it yet.
The risk ratio of it failling compared to the benefit of using it inst' hight enough yet.

[2020-11-27 10:56] web-tiki commented on #35
@poi33 I don't have time to make a fix for this bug just now but the tests I made reveal the calculation bug comes from the `transform` property on the `h1` and `p` element in  the hexagons.

[2021-04-21 13:40] hiral14 commented on #35
Hi, have you figured out now how do the curtains close properly, I imported bootstrap and and curtains can't shut, there's big gap in between

[2022-03-09 22:38] treforcoster opened #39 "Increase the spacing between hexagons"
Is there an easy way to increase the spacing between the hexagons?

[2022-03-09 23:12] #39 closed, assigned to nobody

[2022-03-09 23:13] treforcoster commented on #39
Found it..

in .hexIn

set the width and padding bottom:

[code]

[2022-03-27 19:55] Thaimon opened #40 "Indentation on first row and how to increase the space between hexagons"
Hi guys,

Thanks for sharing the script.
Is it possible to have the indentations starting on the first row instead of the second row?
I also don't know how to change the space between the hexagons.
Can you help me?

Thanks in advance!

[2022-03-27 20:00] Thaimon commented on #40
For the indentation I used .hex:nth-child(an-b) instead of .hex:nth-child(an+b)
It seems to work.

And for the space between hexagons, changing the .hexIn width and padding-bottom with the same factor was the trick.

[2022-03-28 12:10] #40 closed, assigned to nobody

[2022-09-24 10:54] Dhruvbagadiya commented on #35
i would like to work on this issue please assign to me

[2022-09-26 09:19] web-tiki commented on #35
Done !